{#
/**
 * Cookie Consent plugin for Craft CMS
 *
 * Cookie Consent Settings.twig
 *
 * @author    ethercreative
 * @copyright Copyright (c) 2018 ethercreative
 * @link      https://ethercreative.co.uk
 * @package   CookieConsent
 * @since     1.0.0
 */
#}

{% includeCssResource "lib/redactor/redactor.css" %}
{% includeJsResource "lib/redactor/redactor.js" %}

{% import "_includes/forms" as forms %}

{% includeCssResource "cookieconsent/css/CookieConsent_Style.css" %}
{% includeJsResource "cookieconsent/js/CookieConsent_Script.js" %}




{# {% set selectedSubnavItem = 'settings' %} #}

{% set navItems = {} %}

{% if currentUser.admin %}
    {% set navItems = {
        'settings': { title: "Settings"|t },
        'content': { title: "Cookie Messages"|t },
    }|merge(navItems) %}
{% endif %}

{% set selectedItem = craft.request.getSegment(1) %}


<div id="sidebar" class="sidebar">
    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li><a href="{{ url('commerce/settings/'~id) }}"{% if id == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>


{{ forms.selectField({
    label: 'Cookie Icon',
    instructions: 'Select the icon you\'d like to use for the front end.',
    id: 'cookieIcon',
    name: 'cookieIcon',
    options: ['Friendly', 'Minimal'],
    value: settings['cookieIcon'],
    required: true,
}) }}

{{ forms.colorField({
    label: 'Primary Color',
    instructions: 'Set the primary color to be used on the cookie widget.',
    id: 'primaryColor',
    name: 'primaryColor',
    value: settings['primaryColor'],
    required: true,
}) }}

{{ forms.colorField({
    label: 'Secondary Color',
    instructions: 'Set the secondary color to be used on the cookie widget.',
    id: 'secondaryColor',
    name: 'secondaryColor',
    value: settings['secondaryColor'],
    required: true,
}) }}

{{ forms.textField({
    label: 'Script Include',
    instructions: 'Set the location of the template partial that includes all your perfomance cookies.',
    id: 'scriptInclude',
    name: 'scriptInclude',
    value: settings['scriptInclude'],
    required: true,
}) }}

{{ forms.textField({
    label: 'Consent Expiry',
    instructions: 'Set the number of days before the consent cookie expires.',
    id: 'consentExpiry',
    name: 'consentExpiry',
    value: settings['consentExpiry'],
    required: true,
}) }}

{{ forms.textField({
    label: 'Non-consent Expiry',
    instructions: 'Set the number of days before the non-consent cookie expires.',
    id: 'nonConsentExpiry',
    name: 'nonConsentExpiry',
    value: settings['nonConsentExpiry'],
    required: true,
}) }}

{{ forms.textAreaField({
    label: 'Initial Request Message',
    instructions: 'Set the number of days before the non-consent cookie expires.',
    id: 'requestMessage',
    class: 'redactorField',
    name: 'requestMessage',
    value: settings['requestMessage'],
    required: true,
}) }}

{{ forms.textAreaField({
    label: 'Consent Given Message',
    instructions: 'This is what the user will see if they give consent.',
    id: 'consentMessage',
    class: 'redactorField',
    name: 'consentMessage',
    value: settings['consentMessage'],
    required: true,
}) }}

{{ forms.textAreaField({
    label: 'Consent Status: Yes',
    instructions: 'This is what the user will see if they trigger the cookie widget and they\'ve given consent.',
    id: 'consentStatusYes',
    class: 'redactorField',
    name: 'consentStatusYes',
    value: settings['consentStatusYes'],
    required: true,
}) }}

{{ forms.textAreaField({
    label: 'Consent Status: No',
    instructions: 'This is what the user will see if they trigger the cookie widget and they haven\'t given consent.',
    id: 'consentStatusNo',
    class: 'redactorField',
    name: 'consentStatusNo',
    value: settings['consentStatusNo'],
    required: true,
}) }}

{{ forms.textAreaField({
    label: 'Preference Overview',
    instructions: 'This text shows at the top of the cookie preferences modal.',
    id: 'prefOverview',
    class: 'redactorField',
    name: 'prefOverview',
    value: settings['prefOverview'],
    required: true,
}) }}

{{ forms.textAreaField({
    label: 'Necessary Cookies Overview',
    instructions: 'Overview of the necessary cookies being used.',
    id: 'prefNecessaryCookies',
    class: 'redactorField',
    name: 'prefNecessaryCookies',
    value: settings['prefNecessaryCookies'],
    required: true,
}) }}

{{ forms.textAreaField({
    label: 'Performance Cookies Overview',
    instructions: 'Ovwerview of the performance cookies being used.',
    id: 'prefPerformanceCookies',
    class: 'redactorField',
    name: 'prefPerformanceCookies',
    value: settings['prefPerformanceCookies'],
    required: true,
}) }}
